<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="about.css">
</head>
<body>
    <h2>About the BookWallah</h2>
    <div class="box">
    <div class="infoup"> </div>
    <div class="infomiddle">Bookwallah is the cheapest online book store which provide both  new and refurbished books</div>
    <div class="infobottom"></div>
    </div>
</body>
</html>