<!DOCTYPE html>
<html>
    <head>
        <title>Homepage design </title>
            <link rel="stylesheet" type="text/css" href="homepagestyle.css">
        
    </head>
    <body>
        <div class="topdiv">
            <div class="all-book">
                <a href="/book"><button class="albook">All Books</button></a>
                    
            </div>
            
        </div>
        <div class="middlediv">
                     
            <img src="./book-images/home-button.png" class="homebutton" height="30px" width="30px">
            
            <a href="#" class="link1">Best Sellers</a>
            <a href="#" class="link2">Award Winners</a>
            <a href="#" class="link3">Pre Order</a>


        </div>
        <div class="bottomleftdiv">
            <ul>
                <li style="border-bottom: 1px solid pink; font-weight: bolder;">CATEGORIES</li>
                <li>Fiction</li>
                <li>Romance</li>
                <li>Spirituality</li>
                <li>Thriller</li>
                <li>Poetry</li>
                <li>Personal growth</li>
            </ul>
            
        </div>
        <div class="poster">
            <img src="./book-images/poster-image.jpg" alt="hgs" style="width: 50%; margin-left: 25%;">
        </div>

        <div class="books">
            <div class="card">
                <img src="" alt="">
                <p style="font-weight: bolder;"></p>
            </div>
            <div class="card">
                <img src="" alt="">
                <p style="font-weight: bolder;"></p>
            </div>
            <div class="card">
                <img src="" alt="">
                <p style="font-weight: bolder;"></p>
            </div>
            <div class="card">
                <img src="" alt="">
                <p style="font-weight: bolder;"></p>
            </div>
            <div class="card">
                <img src="" alt="">
                <p style="font-weight: bolder;"></p>
            </div>
        </div>
    </body>
</html>