<!DOCTYPE html>
<html>
    <head>
        <title>Login Form Design</title>
            <link rel="stylesheet" href="Loginpagestyle.css">
    </head>
    <body>
        <div class="loginbox">
            <img src="./book-images/user-avatar-svgrepo-com.svg" class="avatar" height="200" width="200" >
                <h1>Login Here</h1>
                <form method="post" action="/login">
                    <p>Username</p>
                    <input type="text" name="Username" placeholder="Enter Username">
                    <p>Password</p>
                    <input type="password" name="password" placeholder="Enter Password">
                    <input type="submit" name="isLoggedin" value="Login"><br>
                    <a href="#">Lost your password?</a><br>
                    <a href="/sign-up">Don't have an account yet? </a>
                </form>
        </div>
    </body>
    
</html>