
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="#">Newly Added</a></li>
                <li><a href="#">Top Reads</a></li>
                <li><a href="#">Rare</a></li>
                <li><a href="#">Best Seller</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="/cart">Delivery Cart</a></li>
            </ul>
        </nav>
    </header>
